* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body {
    background-color: grey;
}
header {
    background-color: white;
    text-align: center;
}
nav ul {
    list-style: none;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}
section h1 {
    text-align: center;
}
section div h2 {
    margin-left: 20px;
}
img {
    width: 600px;
    height: 600px;
}
.conteinerfotos {
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.conteinercatalogo {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 20px;
}
.conteinersection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media (max-width: 500px) {
    section div h2 {
        text-align: center;
        margin-left: 0;
    }
    .conteinerfotos {
        flex-direction: column;
        align-items: center;
    }
    .conteinerfotos img {
        width: 90%;
        height: auto;
    }
    .conteinercatalogo {
        width: 100%;
    }
    section p {
        text-align: center;
    }
    .conteinercatalogo img {
        width: 90%;
        height: auto;
    }

}


